@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700;900&display=swap');
body {
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
    margin: 2rem 1rem;
}

.block-title {
    font-weight: 600;
    font-size: 1.2rem;
}

/* Special Weather Tips */
#swt-wrap {
    display: none;
    padding: 25px 30px 50px 30px;
    background: rgba(248, 248, 174, 0.7);
    border-top: solid rgba(255, 192, 0, 1) 3px;
    max-width: 1000px;
    margin: auto auto 2rem auto;
}
#swt-list {
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem 0 0 0;
    display: grid;
    gap: 1.2rem;
}
#swt-wrap p {
    margin: 0;
}
#swt-wrap ol {
    padding-left: 1rem;
}

/* Warnings */
#warn-wrap {
    display: grid;
    gap: 1.2rem;
    justify-content: center;
}
.warn {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.warn-text {
    padding: 25px 30px 50px 30px;
    background: rgba(255, 226, 226, 0.7);
    border-top: solid rgba(255, 26, 26, 1) 3px;
}
.warn-text p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    white-space: pre-wrap;
}
.warn-content-wrap {
    margin-top: 1rem;
    display: grid;
    gap: 0.3rem;
}
.warn-icon-img {
    border-radius: 10px;
    padding: 3px;
    border: darkgray solid 1.5px;
    background: white;
}

.swt-update-time, .warn-update-time {
    font-size: 0.9rem !important;
    color: gray;
    margin: 0.3rem 0 !important;
}

@media only screen and (max-width: 520px) {
    .warn-icon-img {
        width: 65px;
        margin-right: 15px;
    }
}
@media only screen and (min-width: 521px) {
    .warn-icon-img {
        width: 100px;
        margin-right: 15px;
    }
}


#summary {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    padding-bottom: 6px;
}
#refresh {
    text-align: center;
    font-size: .8rem;
    padding-bottom: 20px;
}

body.dark {
    background-color: rgb(20,20,20);
    color: white;
}
.dark #swt-wrap {
    background: rgba(121, 121, 90, 0.7) !important;
    border-top: solid rgb(208, 174, 70) 3px !important;
}
.dark .warn-text {
    background: rgba(120, 86, 86, 0.7);
    border-top: solid rgb(158, 22, 22) 3px;
}
.dark .swt-update-time, .dark .warn-update-time {
    color: lightgray;
}
.dark .warn-icon-img {
    border: rgb(80,80,80) solid 1.5px !important;
}